@font-face{
  font-family: Light;
  src: url(../fonts/RobotoLight.ttf) format('truetype');
}

@font-face{
  font-family: Bold;
  src: url(../fonts/RobotoBold.ttf) format('truetype');
}

@font-face{
  font-family: Medium;
  src: url(../fonts/RobotoMedium.ttf) format('truetype');
}

@font-face{
  font-family: Cond;
  src: url(../fonts/RobotoRegular.ttf) format('truetype');
}