@font-face{
  font-family: Light;
  src: url(../fonts/DINProCondLight.otf);
}

@font-face{
  font-family: Bold;
  src: url(../fonts/DINProCondBold.otf);
}

@font-face{
  font-family: Medium;
  src: url(../fonts/DINProCondMedium.otf);
}

@font-face{
  font-family: Cond;
  src: url(../fonts/DINProCond.otf);
}